*
{
    box-sizing: border-box;
    font-family: proxima nova;
}
body
{
    display: inline;
    color: white;
    background-image: url(pic1.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    text-align: center;
    font-size: 16px;
}
.container
{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);
    width: 600px;
    height: 800px;
    box-sizing: border-box;
    background: rgba(0, 0, 0, 0.7);
    padding: 40px;
    border-radius: 20px;
}
input
{
    color: black;
    border-color: black;
    border-radius: 30px;
    border-width: 100%;
    padding: 8px;
    padding-left: 15px;
}
input:hover
{
    color: white;
    background-color: red;
}
select
{
    border-color: black;
    border-radius: 25px;
    border-spacing: 10%;
    border-width: 90%;
    box-sizing: border-box;
    padding: 8px;
}
.button
{
    background: red;
    color: white;
    padding: 14px 20px;
    margin: 8px 0px;
    cursor: pointer;
}
.button:hover
{
    background-color: black;
}
a
{
    color: red;
    background-color: black;
    position: static;
    size: 2px;
}
a:hover
{
    color: white;
}
i
{
    color: white;
}
i:hover
{
    color: red;
}
