*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'poppins',sans-serif;
}
section
{
   position: relative;
   width: 100%; 
   height: 100vh;
   display: flex;
}
.logo
{
    position: relative;
    width: 50%;
    height: 100%;
}
.logo:before
{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background:green;
    z-index: 1;
    mix-blend-mode: screen;
}
.logo img
{
    position: absolute;
    top: 30%;
    left: 0;
    width: 100%;
}
.container
{
    background:black;
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
}
.form
{
    width: 50%;
}
h2
{
  color: white;
  font-weight: 600;
  font-size: 1.5em ;
  text-transform: uppercase;
  margin-bottom: 20px;
  border-bottom: 4px solid green;
  display: inline-block;
  letter-spacing: 1px;
}
.input
{
    margin-bottom: 20px;
}
span
{
    font-size: 16px;
    margin-bottom: 5px;
    display: inline-block;
    color: white;
    font-weight: 300;
    font-size: 16px;
    letter-spacing: 1px;
}
input
{
   width: 100%;
   padding: 10px 20px;
   outline: none;
   font-weight: 400;
   border: 1px solid white;
   font-size: 16px;
   letter-spacing: 1px;
   color: white;
   background: transparent;
   border-radius: 30px;
}
button
{
    width: 100%;
   padding: 10px 20px;
   outline: none;
   font-weight: 400;
   border: 1px solid white;
   font-size: 16px;
   letter-spacing: 1px;
   color: black;
   background: white;
   border-radius: 30px;
   
}
button:hover
{
    background: green;
    color: white;
}
p
{
    color: white;
}
a
{
    color: white;    
}


